html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #121212 !important;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

input { 
  -webkit-appearance: none;
  -moz-appearance: textfield;
  appearance: none;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &::-moz-inner-spin-button {
    -moz-appearance: none;
    margin: 0;
  }
}